.navegacion {
    position: fixed;
    right: 5%;
    top: 10%;

    ul {
        list-style: none;

        li {
            margin: 10px 0;
            text-align: end;
        }

        li a {
            text-decoration: none;
            color: #000000;
            opacity: 50%;
        }

        li a:hover {
            color: #6E217B;
            text-decoration: underline;
            font-weight: 500;
            opacity: 100%;
        }
    }

}


//arrow up
.arrow-up{
    img{
        width: 60px;
        position: fixed;
        right:5%;
        bottom: 5%;
        opacity: 50%;
    }
    img:hover{
        opacity: 100%;
    }
}


//Responsive

@media (min-width:1024px){
    .navegacion-movil{
        display: none;
    }
}

@media (max-width: 768px) {
    .navegacion {
        display: none;
    }
    .navegacion-movil{
        position: fixed !important;
        z-index: 10;
        bottom: 20%;
        right: -87%;
    }
}

@media (max-width: 576px) {
    .navegacion {
        display: none;
    }
    .navegacion-movil{
        right: -80%;
    }
}