//Variables de color y tipografias
$dark-purple:#990099;

//Tipografías
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

h1, h2, h3, h4{
    font-family: "Outfit", sans-serif;
    font-weight:600;
    text-transform: uppercase;
}
h2{
    padding-bottom: 14px;
}

a{
    color: #990099;
}